<h1>Grafica</h1>
<div id="chart">
    <canvas id="myChart"></canvas>
</div>

<div id="map">
</div>



<button id="btn">Solucionar</button>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/dashboard.js"></script>
<script src="~/js/form.js"></script>