
<h3>Ejemplo de Geolocalizacion</h3>
<p id="lugar"></p>

<label for="nombre">Ingresa nombre</label>
<input type="text" id="txtName" placeholder="Nombre"></input>
<br>

<div id="map">
</div>

<button type="button" id="btnEnviar">Enviar</button>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script src="~/js/signalr.js"></script>
<script src="~/js/form.js"></script>
